<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Could You Tell | Contact Us</title>
</head>
<body>
  <div>
    <p><strong>Hello Admin!</strong></p>
    <p>A new contact form has been submitted you can find the details of submission below:</p>
    <p><strong>Name:</strong> <%-name%></p>
    <p><strong>Email:</strong> <%-email%></p>
    <p><strong>Message:</strong></p>
    <p>
        <%-message%>
    </p>
  </div>  
</body>
</html>